.intro {
    margin: 30px 0;
}

.repo {
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

.card-body {
    width: 100%;
    height: 350px;
}

.logo {
    height: 200px;
    margin-bottom: 20px;
}

.console {
    margin-top: 20px;
}

.console h4 {
    margin-bottom: 15px;
    border-bottom: solid 1px #000000;
    padding-bottom: 5px;
}

.console p {
    font-size: 0.8em;
}