<img src="/images/ng.svg" alt="Angular Logo" class="logo" />
<p>Hello <strong>{{name}}</strong> from your friendly Angular component.</p>
<button *ngIf="name && name !== ''" type="submit" class="btn btn-secondary" (click)="helloEvt.next()">Say hello</button>
